body{
    background-color:#03294e;
}


.title{
    display: grid;
    background-color:#05386B;
    background: url("Images/mic.jpg") no-repeat center fixed;
    height: 500px;
    font-size: 5vw;  
}

h1,h2{
    font-family: Reggae One;
    color: coral;
    margin: 20px;
    border-bottom: solid black;
}

.caret{
    background-color: #03294e;
    border:solid 1px;
    
    }
.openmic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    overflow: hidden;
}

.openmic img{

    height: 350px;
    width: 350px;
    margin:20px;
}

.contact h1{
    font-weight: bolder;
    font-family: caveat brush;
    font-size: 4em;
    color:rgb(235, 13, 161);
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom:100px;
    list-style-type: none;
}
.listcontact{
    display: inline-flex;
    

}

.listcontact img{
    height:70px;
    width:70px;
}

.listcontact li{
    color:whitesmoke;
    list-style: none;
}

@media(max-width: 600px){
    .title{
        display: grid;
        padding-top:30%;
        background-image:url("Images/mic.jpg") no-repeat center;
        height: 600px;
        margin-right:0;

    }
    .topnav.responsive {position: relative;}

    .openmic img{
        height: 200px;
        width: 200px;
        margin:5px;

    }
} 